{% load static %}
<!DOCTYPE HTML>
<html>

<head>
  <title>QnA ; My - World</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="{% static 'style/style2.css' %}" title="style" />
  <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>

</head>

<body>

    <script>
$(document).ready(function(){

setInterval(function(){
    $.ajax({
        type: 'GET',
        url : "/getMessages/{{room}}/",
        success: function(response){
            console.log(response);
            $("#display").empty();
            for (var key in response.messages)
            {
                var temp="<div class='container darker'><b>"+response.messages[key].user+"</b><p>"+response.messages[key].value+"</p><span class='time-left'>"+response.messages[key].date+"</span></div>";
                $("#display").append(temp);
            }
        },
        error: function(response){
            alert('An error occured')
        }
    });
},1000);
})
</script>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="{% url 'index' %}">Question<span class="logo_colour">&amp;Answer</span></a></h1>
          <h2>Share Your Views Here.</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li class="selected"><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'contact' %}">Contact Us</a></li>
          {% if user.is_authenticated %}
          <li><a href="#">&nbsp{{ user.username }}&nbsp Hi</a></li>
          <li><a href="#">Logout</a></li>
          {% else %}

          <li><a href="{% url 'register' %}">Register</a></li>
          <li><a href="{% url 'login' %}">Login</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div id="content_header"></div>
    <div id="site_content" style="margin-left: 5%;margin-right: 2%;">
      
        <!-- insert your sidebar items here -->
        <h3>Latest News</h3>
        <h4>New Website Launched</h4>
        <h2>{{Room.room}} - QnA</h2>

<div id="display">
    




</div>
        
        <form id="post-form"></form>
            {% csrf_token %}
          <div class="form_settings">
            <input type="hidden" name="username" id="username" value="{{user.username}}"/>
                <input type="hidden" name="room_id" id="room_id" value="{{room_details.id}}"/>
                <p><span>Room Name</span><input type="text" name="message" id="message" width="100px" /></p>
                
            
            <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="name" value="Send" /></p>
          </div>
        </form>
      </div>
    </div>
    <div id="content_footer"></div>
    
<script type="text/javascript">
    $(document).on('submit','#post-form',function(e){
      e.preventDefault();
  
      $.ajax({
        type:'POST',
        url:'/send',
        data:{
            username:$('#username').val(),
            room_id:$('#room_id').val(),
            message:$('#message').val(),
          csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function(data){
           //alert(data)
        }
      });
      document.getElementById('message').value = ''
    });
  </script>
  </div>
</body>
</html>
